:root{
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: var(--border-button);
}

.button:focus {
    box-shadow: unset !important;
}

.button:active .icon-button, .icon-button:active {
    color: teal;
}

.button:hover .icon-button, .icon-button:hover {
    font-size: 20px;
}